.about {
  position: relative;
  background-color: #fadecd;
}

.h2 {
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
}

.about .line-styling {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .line-styling .style-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #76263f;
}

.about .line-styling .style-line {
  width: 95%;
  height: 5px;
  border-radius: 10px;
  background-color: #76263f;
}

.about-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 8rem;
  height: fit-content;
}

.about-description {
  margin: auto;
  width: 80%;
  height: fit-content;
  color: #76263f
}

.about-description>h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 3.5rem;

  font-family: var(--primaryFont);

}

.about-description>p {
  font-size: 1.35rem;
  text-align: justify;
  color: white;
  font-weight: 700;
  font-family: var(--primaryFont);
}


@media (min-width: 992px) and (max-width: 1380px) {

  .about-description>h2 {
    font-size: 3.3rem;
    margin-bottom: 30px;
  }

  .about-description>p {
    font-size: 1.15rem;
  }

  .about-img>img {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {

  .about .line-styling {
    top: 20px;
  }

  .about-body {
    padding-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .about-description {
    flex: 0.6;
    box-sizing: border-box;
    /* padding: 5% 10%; */
    padding: 10px;

  }

  .about-description>h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .about-description>p {
    font-size: 1.1rem;
  }

}

@media screen and (max-width: 800px) {
  .about .line-styling .style-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .about-description>h2 {
    align-self: center;
  }

}

@media screen and (max-width: 600px) {

  .about .line-styling .style-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .about .line-styling .style-line {
    width: 93%;
    height: 3px;
    border-radius: 10px;
  }

  .about-description>h2 {
    font-size: 2.5rem;
  }

  .about-description>p {
    font-size: 0.95rem;
  }
}






.education-body {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  width: 100%;
  color: #76263f;
  
}

.education-description {
  width: 100%;
  flex: 0.65;
  padding: 0rem 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 8%;
}

.education-description>h1 {
  font-size: 3.5rem;
  font-family: var(--primaryFont);
  margin-bottom: 2rem;
}

.education-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  /*height: 140px;*/
  padding: 1.5rem;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  background-color: #76263f;
  transition: background-color 200ms ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.educard-img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.educard-img>img {
  width: 40px;
}

.education-details {
  margin-left: 0.6rem;
}

.education-details>h6 {
  font-family: var(--primaryFont);
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/*
.education-details > h4 {
  font-family: var(--primaryFont);
  font-size: 1.225rem;
  font-weight: 600;
}

.education-details > h5 {
  font-family: var(--primaryFont);
  font-size: 1.15rem;
  font-weight: 600;
}
*/
.education-image {
  box-sizing: border-box;
  padding: 1rem;
  flex: 0.35;
  margin-top: 1rem;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.education-image>img {
  width: 100%;
}

.text {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-family: var(--primaryFont);
}



@media screen and (max-width: 992px) {
  .education {
    min-height: 100%;
  }

  .education-image {
    display: none;
  }

  .education-description {
    flex: 1;
    margin: auto;
  }

  .education-description>h1 {
    font-size: 3.2rem;
  }

  .education-card {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .education-description>h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    align-self: center;
  }

  .education-description {
    padding: 1rem;
  }

  .education-card {
    padding: 1rem;
    margin-bottom: 1.5rem;
    /*height: 130px;*/
  }

  .educard-img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  .educard-img>img {
    width: 30px;
  }

  .education-details>h6 {
    font-size: 0.85rem;
    margin-bottom: 0.45rem;
  }

  .education-details>h4 {
    font-size: 1.125rem;
    line-height: 126%;
  }

  .education-details>h5 {
    font-size: 1.05rem;
    line-height: 126%;
  }
}

@media screen and (max-width: 600px) {
  .education-description>h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 425px) {
  .educard-img>img {
    width: 30px;
  }

  .education-details>h6 {
    font-size: 0.8rem;
    margin-bottom: 0.45rem;
  }

  .education-details>h4 {
    font-size: 1rem;
    line-height: 126%;
  }

  .education-details>h5 {
    font-size: 1rem;
    line-height: 126%;
  }
}