.wave {
    animation-name: wave-animation; 
    animation-duration: 2.1s; 
    animation-iteration-count: infinite;
    transform-origin: 70% 70%; 
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } 
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(0deg);
    }
  }

  .iconbtn a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color: #76263f;
    display: inline-block ;
}

/*
.iconbtn{
    margin-left: 40px;
}
*/
  
  .home-header {
    padding-top: 80px !important;
    padding-bottom: 80px;
  }
  
  .home-section {
    /*position: relative;
    z-index: -1;
    
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    /*padding-top: 30px !important;*/
    background-color: #fadecd;
  }
  
  .home-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;
  }
  
  .heading {
    font-size: 2.4em !important;
    /*
    padding-left: 50px !important;
    */
  }
  
  .heading-name {
    font-size: 2.5em !important;
    /*
    padding-left: 45px !important;
    */
    color: #76263f;
  }
  
  .main-name {
    color: #76263f;
  }
  
  .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #be6adf !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #b562d6 !important;
  }
  
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }
  
  .myAvtar {
    justify-content: center !important;
    align-items: center;
    /*
    padding-top: 9em !important;
    */
  }
  
  @media (max-width: 767px) {
    .myAvtar {
      padding-top: 2em !important;
      padding-bottom: 2em !important;
    }
  }
  
  

 